@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#F6F0E8;
    color:#2c2c2c;
}
img{
    max-width:100%;
    height:auto;
}

/* HEADER */

header{
    background:#7A1F28;
    height:90px;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:0 8%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo{
    font-style: italic;
    color:white;
    letter-spacing: 1px;
    font-weight:700;
    
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:500;
}
nav a:hover {
    text-decoration: underline;
}

.cv-btn{
    background:white;
    border:none;
    padding:15px 25px;
    border-radius:12px;

    color:#7A1F28;
    font-weight:600;
    cursor:pointer;
}

/* HERO */

.hero{
    min-height:80vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:70px 8%;
    gap:60px;
}

.hero-content{
    flex:1;
}

.badge{
    display:inline-block;

    background:#efe3d8;
    color:#7A1F28;

    padding:10px 20px;
    border-radius:50px;

    font-size:14px;
    font-weight:600;

    margin-bottom:25px;
}

.hero h1{
    font-family:'Playfair Display', serif;
    font-size:4rem;
    line-height:1.2;

    margin-bottom:25px;
}

.hero h1 span{
    color:#8B2635;
    font-style:italic;
}

.hero p{
    max-width:550px;

    font-size:1.1rem;
    line-height:1.9;

    color:#555;

    margin-bottom:40px;
}

.buttons{
    display:flex;
    gap:20px;
}

.primary-btn{
    text-decoration:none;

    background:#7A1F28;
    color:white;

    padding:16px 30px;
    border-radius:12px;
}

.secondary-btn{
    text-decoration:none;

    border:2px solid #7A1F28;
    color:#7A1F28;

    padding:16px 30px;
    border-radius:12px;
}

.socials{
    margin-top:50px;

    display:flex;
    align-items:center;
    gap:15px;
}

.socials i{
    width:45px;
    height:45px;

    border-radius:50%;

    background:#7A1F28;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}

/* IMAGE */

.hero-image{
    flex:1;
    position:relative;

    display:flex;
    justify-content:center;
}
/*
.blob{
    position:absolute;

    width:500px;
    height:600px;

    background:#7A1F28;

    border-radius:45% 55% 35% 65%;
}*/

.hero-image img{
    position:relative;

    width:420px;
    height:550px;

    object-fit:cover;

    border-radius:50px;

    z-index:2;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18),
                0 4px 12px rgba(0, 0, 0, 0.06);
}


/* STATS */

.stats{
    width:85%;
    margin:auto;

    margin-bottom:60px;

    background:#fffaf5;

    border-radius:25px;

    display:grid;
    grid-template-columns:repeat(4,1fr);

    padding:40px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card{
    text-align:center;
}

.card i{
    font-size:2rem;
    color:#7A1F28;

    margin-bottom:15px;
}

.card h3{
    font-size:2rem;
    color:#7A1F28;

    margin-bottom:10px;
}
.card h3{
    font-size:2rem;
    color:#7A1F28;
    margin-bottom:10px;
}

  
  /* ========================= */
/* TABLETTE */
/* ========================= */

@media screen and (max-width: 992px){

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero p{
        max-width: 100%;
    }

    .buttons{
        justify-content: center;
    }

    .socials{
        justify-content: center;
    }

    .hero-image img{
        width: 350px;
        height: 450px;
    }

    .stats{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}

/* ========================= */
/* TELEPHONE */
/* ========================= */

@media screen and (max-width: 768px){

    header{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    nav{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .cv-btn{
        width: 100%;
        max-width: 250px;
    }

    .hero{
        padding: 40px 20px;
    }

    .hero h1{
        font-size: 2.3rem;
    }

    .hero p{
        font-size: 1rem;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .primary-btn,
    .secondary-btn{
        width: 220px;
        text-align: center;
    }

    .hero-image img{
        width: 280px;
        height: 380px;
    }

    .socials{
        flex-wrap: wrap;
        justify-content: center;
    }

    .stats{
        grid-template-columns: 1fr;
        width: 92%;
    }
}